body {
    margin: 0;
    padding: 0;
  }

header{
    background-color: #333333;
}

body{
    background-image: "/images/background.jpeg";
    background-repeat: no-repeat;
    background-size: auto;
}